body {
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/825/231/807/simple-background-black-background-windows-errors-errors-simple-hd-wallpaper-preview.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    overflow: hidden;
}

.contenedor-error {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 60%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}
